/* css reset start */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --white-color: white;
    --black-color: black;
    --red-color: red;
    --blue-color: blue;
    --blueish-color: #00acee;
    --green-color: green;
    --grey-color: grey;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

a {
    font-size: 18px;
    cursor: pointer;
}

/* css reset end */

/* html start  */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* html end  */

/* header start  */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    background-color: var(--black-color);
    z-index: 1000;
}

header .fa-bars {
    display: none;
}

header .left {
    margin-left: 30px;
}

header .left a h1 {
    color: var(--white-color);
    cursor: pointer;
}

header .middle nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 70px;
}

header .middle nav ul li a {
    color: var(--white-color);
    padding: 3px 9px;
    font-weight: bold;
}

header .right {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header .right p {
    color: var(--white-color);
    cursor: pointer;
    padding: 3px 9px;
    font-weight: bold;
}

header .right .fa-user {
    color: var(--white-color);
    cursor: pointer;
    font-size: 21px;
}

/* header .right nav ul li a.active {
    border-bottom: 2px solid white;
} */

/* header end  */

/* progress bar start  */

.progress {
    height: 5px;
    width: 100%;
    position: fixed;
    top: 8vh;
    z-index: 1000;
}

.highlight {
    transition: width 0.5s linear;
    width: 0%;
    background-color: var(--red-color);
    height: 100%;
}

/* progress bar end  */

/* sign in sign up section start  */

#sign-in-pop-up {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#sign-in-pop-up.active {
    transform: scale(1);
    opacity: 1;
}

#sign-in-pop-up .card {
    background-color: var(--blueish-color);
    width: 30%;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
}

#sign-in-pop-up .card .fa-xmark {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
}

#sign-in-pop-up .card p {
    text-align: center;
}

#sign-in-pop-up .card p a {
    color: var(--red-color);
}

#sign-in-pop-up .card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sign-in-pop-up .card form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#sign-in-pop-up .card form div input {
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    padding-left: 10px;

}

#sign-in-pop-up .card form button {
    padding: 8px 0px;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    cursor: pointer;
}

#sign-up-pop-up {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#sign-up-pop-up.active {
    transform: scale(1);
    opacity: 1;
}

#sign-up-pop-up .card {
    background-color: var(--blueish-color);
    width: 30%;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
}

#sign-up-pop-up .card .fa-xmark {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
}

#sign-up-pop-up .card p {
    text-align: center;
}

#sign-up-pop-up .card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sign-up-pop-up .card form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#sign-up-pop-up .card form div p {
    text-align: start;
    font-size: 10px;
    margin: 0;
}

#sign-up-pop-up .card form div input {
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    padding-left: 10px;

}

#sign-up-pop-up .card form button {
    padding: 8px 0px;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    cursor: pointer;
}

/* sign in sign up section start  */

/* cookie set section start  */

.cookie {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    background-color: var(--blueish-color);
    border: 1px solid var(--blueish-color);
    position: fixed;
    bottom: 0;
    z-index: 901;
    box-shadow: 0px -3px 176px 157px var(--black-color);
    margin: 0 5px;
    visibility: hidden;
}

.cookie.hide {
    display: none;
}

.cookie .left {
    width: 60%;
    padding: 0 15px;
}

.cookie .left h2 {
    padding-bottom: 5px;
    color: var(--white-color);
}

.cookie .left p {
    color: var(--white-color);
}

.cookie .left p span {
    color: var(--blue-color);
    text-decoration: underline;
    font-weight: 100;
    padding-left: 5px;
    cursor: pointer;
}

.cookie .right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 40%;
    padding: 0 15px;
}

.cookie .right .preference {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: var(--blueish-color);
}

.cookie .right .reject {
    padding: 5px 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: var(--blueish-color);
}

.cookie .right .accept {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: var(--blueish-color);
}

/* cookie set section end  */

/* slideshow section start  */

.slideshow {
    width: 100%;
    height: 50%;
    margin-top: 8vh;
}

.slideshow .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow .swiper-slide img {
    display: block;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.slideshow .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.slideshow .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* slideshow section end  */

/* top-brand section start  */

#topbrands {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

#topbrands .upper h1 {
    color: var(--black-color);
}

#topbrands .lower {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 80px;
}

#topbrands .lower .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    padding: 15px 0px;
    background-color: var(--green-color);
}

#topbrands .lower .feature h3 {
    color: var(--black-color);
}

#topbrands .lower .feature img {
    width: 30%;
}

#topbrands .lower .feature a {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 5px 20px;
    border-radius: 25px;
}

/* top-brand section end  */

/* catergory section start  */
/* Swiper for all brand start  */

#category{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding: 20px 80px;
}

#category h1 {
    width: 100%;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 20px;
}

#category .all-brand .swiper-slide {
    text-align: center;
    background: var(--blueish-color);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

#category .all-brand .swiper-slide img {
    width: 60%;
}

#category .all-brand .swiper-slide a {
    padding: 5px 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 10px;
}

#category .all-brand .swiper-slide i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: var(--white-color);
}

#category .all-brand .swiper-button-next,
#category .all-brand .swiper-button-prev {
    position: absolute;
    color: var(--red-color);
}

/* Swiper for all brand end  */

/* Swiper for men-women-brand start  */

#category .men-women-brand {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    margin: 30px 0;
}

#category .men-women-brand .men-brand,
#category .men-women-brand .women-brand {
    width: 50%;
    height: 100%;
}

#category .men-women-brand .swiper-slide {
    text-align: center;
    background: var(--blueish-color);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

#category .men-women-brand .swiper-slide img {
    width: 40%;
}

#category .men-women-brand .swiper-slide a {
    padding: 5px 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 10px;
}

#category .men-women-brand .swiper-slide i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: var(--white-color);
}

#category .men-women-brand .swiper-button-next,
#category .men-women-brand .swiper-button-prev {
    position: absolute;
    top: 60%;
    color: var(--red-color);
}

/* Swiper for men-women-brand end  */
/* catergory section end  */

/* contact section start */

#contact {
    background-color: var(--black-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

#contact .contact-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
}

#contact .contact-info h1 {
    color: var(--white-color);
}

#contact .contact-info p {
    color: var(--white-color);
}

#contact .contact-info .contact-form  {
    position: relative;
    width: 50%;
    margin: auto;
}

#contact .contact-info .contact-form form {
    width: 100%;
}

#contact .contact-info .contact-form form input[type="email"] {
    background-color: var(--white-color);
    outline: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--white-color);
}

#contact .contact-info .contact-form form button {
    position: absolute;
    color: var(--white-color);
    padding: 10px 20px;
    background-color: var(--grey-color);
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid var(--grey-color);
    right: 0;
    cursor: pointer;
}

/* contact section end */

/* Back To Top button start  */

#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--blueish-color);
    color: var(--black-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

/* Back To Top button end  */

/* footer start */

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

footer h1 {
    color: var(--black-color);
}

footer p {
    color: var(--black-color);
}

footer .upper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px 80px;
}

footer .upper .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .upper .right {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer .upper .left ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .upper .left ul li a {
    padding: 8px 10px;
    border-radius: 50%;
    color: var(--white-color);
}

footer .upper .left ul li:nth-child(1) a {
    background-color: var(--red-color);
}

footer .upper .left ul li:nth-child(2) a {
    background-color: var(--blue-color);
}

footer .upper .left ul li:nth-child(3) a {
    background-color: var(--blueish-color);
}

footer .upper .left ul li:nth-child(4) a {
    background-color: var(--green-color);
}

footer .upper .left ul li:nth-child(5) a {
    background-color: var(--red-color);
}

footer .upper .right .footer-link {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .upper .right .footer-link ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .upper .right .footer-link ul li a {
    color: var(--black-color);
}

footer .lower {
    background-color: var(--black-color);
    text-align: center;
}

footer .lower p {
    color: var(--white-color);
}

footer .lower a {
    color: var(--white-color);
}

/* footer end */

/* custom scrollbar start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black-color);
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--blueish-color);
    border-radius: 4px;
    border: 1px solid var(--blueish-color);
}

/* custom scrollbar end */

/* pwa update message start */

#snackbar {
    display: none;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 30px;
}

#snackbar.show {
    display: block;
}

#snackbar p{
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
}

#reload{
    font-size: 20px;
    cursor: pointer;
}

/* pwa update message end */